intergif
igexample
CVS
*~
*.o
*.a
*.exe
*,ff8
src/resources.s
viewersrc/resources.s

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt

*.sln
*.vcxproj
*.vcxproj.*
Debug/
Release/

.ninja_*
*.ninja
